.nav{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 1.25rem 1.5rem;
  background-color: $primary-color;

  &-app{
    display: block;
    margin: 0 auto;
    color: white;
  
    & > p {
      margin: 0;
      font-size: 2.25rem;
      font-weight: bold;
    }
  }

  @include breakpoint-screen-max('lg'){
    &-app{
      & > p{
        font-size: 2rem;
      }
    }
  }
}